body {
  transition: background-color 1s ease;
 /* background-color: #D3D3D3;*/
}

div.input-group {
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
input {
  text-align: center;
  font-family: 'Yanone_Kaffeesatz', sans-serif;
  font-size: 20px;

}

.displaySearch {
  text-align: center;
  z-index: 1000;
  position: relative;
  color: white;
  font-size: 25px;
}

/*p {
  text-align: center;
  z-index: 1000;
  position: relative;
  bottom: 125px;
}

p:nth-child(1){
  color: #e6cc68;
}

p:nth-child(2){
  color: #18bd4a;
}

p:nth-child(3){
  color: #cd3f45;
}*/

canvas.mapCanvas {
  height: 100%;
  width: 100%;
  z-index: 1;
}

div.container.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  background-color: white;
  margin: 0;
  padding: 0px;
}

img {
  width: 100%;
  height: 580px;
  padding: 0;
  -webkit-filter: grayscale;
  -webkit-filter: brightness(65%);
}

div.container {
  width: 100%;
  padding: 0;
}

div.navbar.navbar-default {
  margin: 0;
}

.navbar {
  background: rgba(0, 0, 0, 0.7);
  padding: 1%;
  border-color: black;
}

#header {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}
/*
#header span:nth-child(1) {
  font-size: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  margin-left: 15px;
}

#header span:nth-child(2) {
  font-size: 27px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  font-weight: bold;
}*/

.home-title h4{
  font-size: 22px;
  padding-top:;
}

.home-title {
  width: 100%;
}

h2, h4 {
  position: fixed;
  top: 22%;
  font-size: 56px;
  color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: 'Yanone_Kaffeesatz', sans-serif;
}

h4 {
  font-size: 20px;
  top: 29%;
}

.btn-danger {
  width: 140%;
}

h1 {
  width: 100%;
  text-align: center;
  font-family: 'Arapey', sans-serif;
  font-style: italic;
}

#nextPage h2, .editable {
  top: 0%;
  margin-top: 2%;
  font-size: 30px;
}



input.editText, textarea {
  background: rgba(0, 0, 0, 0.5);
}

input.editText {
  border-radius: 15px;
  outline: none;
  padding-left: 20px;
  font-family: 'Yanone_Kaffeesatz', sans-serif;
  font-size: 25px;
  border-color: grey;
}

.quote {
  margin-top: 100px ;
}


.projectName {
  letter-spacing: -1px;
}

.progress {
  z-index: 1000;
  position: relative;
  bottom: 10px;
  background: rgba(0, 0, 0, 1);
  border: 5px solid rgba(0, 0, 0, 1);
  border-radius: 12px;
  height: 40px;
  opacity: 0.7;
}

.progress-bar-success {
  color: #18bd4a;
}

.progress-bar-warning {
  color: #e6cc68;
}

.progress-bar-danger {
  color: #cd3f45;
}

p {
  color: white;
  display: inline-block;
  vertical-align: middle;
}

.totalTweets {
  width: 100%;
  text-align: center;
}


/*---------------------------------------------------------------------------------
MOBILE
---------------------------------------------------------------------------------*/

@media only screen and (max-height: 900px) {
  h4 {
    top: 30%;
  }

  .quote {
    margin-top: 50px;
  }
}

@media only screen and (max-height: 850px) {
  img {
    height: 450px;
  }
}

/*@media only screen and (max-height: 1050px) {
  img {
    height: 430px;
  }

  .progress {
    bottom: -50px;
  }

  #nextPage h2 {
    margin-top: 5%;
  }

  .tweetMap {
    margin-top: 7%;
  }
}*/
