.testButton {
  background: transparent;
  border: none !important;
  font-size: 0;
}

body {
  background-color: black;
}

.container {
  display: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

canvas.mapCanvas {
  height: 100%;
  width: 100%;
}

.image {
  margin-bottom: 200px;
}